services:
  frontend:
    image: node:20-alpine 
    working_dir: /app
    user: root
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "8080:5173"
    command: sh -c "npm install && npm run dev"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - app-network
  backend:
    image: node:20-alpine # We use Node.js image
    working_dir: /app
    user: root
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./backend/data:/app/data
    ports:
      - "3000:3000"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 20s        # Check every 20 seconds
      timeout: 10s         # Wait up to 10 seconds for the check to respond
      retries: 3           # Try 3 times before marking the service as unhealthy
      start_period: 30s

    command: sh -c "apk add --no-cache curl python3 make g++ && npm install && npm run start"

networks:
  app-network:
    driver: bridge



